


*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;  
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(0deg, rgb(247,247,247), 23.8%, rgb(252,221,221), 92%);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}


.music-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, .6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
    

   
}

.img-container{
    position: relative;
    width: 110px;

}


/* NEED TO MAKE A CIRCLE FOR WHAT COLOR IT IS */


.navigation{
    display: flex;
    align-items: center;
    justify-content: center;    
    z-index: 1;

}

.action-btn {
    background-color: white;
    border: 0;
    color: #9b959b;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.action-btn:focus{
    outline: 0;
}


/* SLIDER */

.slide-container{
    width: 100%;

}
.slider-container{
    text-align: center;
}
.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%; /* Full-width */
    height: 35px; 
    /* background-image: linear-gradient(to right, rgba(46, 0, 252,1), rgba(165, 42, 42, 1));  */
    /* background-image: linear-gradient(to right, rgba(255, 192, 203,1) 14.29%,rgba(255, 192, 203,1),rgba(46, 0, 252,1),rgba(46, 0, 252,1),rgba(255, 255, 255, 1),rgba(255, 255, 255, 1), rgba(165, 42, 42, 1),rgba(165, 42, 42, 1),rgba(50, 168, 82), rgba(50, 168, 82), rgba(255, 165, 0),rgba(255, 165, 0),rgb(128, 128, 128),rgb(128, 128, 128));  */
    background-image: linear-gradient(to right, rgba(255, 192, 203) 8%,rgba(46, 0, 252)12%,rgba(255, 255, 255)30%,rgba(255, 255, 255)36%,rgba(165, 42, 42)46%, rgba(50, 168, 82)60%, rgba(255, 165, 0)86%,rgb(128, 128, 128)92%); 
    outline: none; 
    /* opacity: 0.7; Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    box-shadow: 0 0px 20px 5px rgba(252, 169, 169, .6); 

}


/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 33px; /* Set a specific slider handle width */
    height: 33px; /* Slider handle height */
    background: rgb(247,247,247); 
    opacity: .3;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }